input {
    width: 150px;
    height: 100px;
    font-size: 75px;
    margin: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    border-style: none;
}

#myfrom {
    margin-left: 225px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-right: 150px;
    margin-left: 20px;
}

.Display {
    width: 675px;
    height: 100px;
    text-align: center;
    background-color: #1f80c9;
    border-color: black;
    border-radius: 10px;
    border-style: groove;
}